<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="false" defaultLanguage="c#" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
	    <!-- <customErrors mode="Off"/>  -->
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="ShowData.aspx" />
            </files>
        </defaultDocument>
        <httpProtocol>
            <customHeaders>
                <add name="PoewrBy" value="LCQ" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
	  <system.web.extensions>
    <scripting>
      <webServices>
        <!--单位为字节-->
        <jsonSerialization maxJsonLength="51200000" />
      </webServices>
    </scripting>
  </system.web.extensions>
   <appSettings>
       <add key="Temperature+*" value="0,100,℃" />
	   <add key="Load+*" value="0,100,％" />
	   <add key="Control+*" value="0,100,％" />
	   <add key="Power+*" value="0,15,W" />
	   <add key="Clock+*" value="0,0,MHz" />
	   <add key="Data+*" value="0,16,GiB" />
	   <add key="Clock+CPU Core #1" value="500,3000,MHz" />
	   <add key="Clock+CPU Core #2" value="500,3000,MHz" />
	   <add key="Voltage+3VCC" value="0,5,V" />
	   <add key="Voltage+3VSB" value="0,5,V" />
	   <add key="Voltage+AVCC" value="0,5,V" />
	   <add key="Voltage+CPU VCore" value="0,2,V" />
	   <add key="FAN+FAN #2" value="0,6000,RPM" />
   </appSettings>
</configuration>
